packages:
  yum:
    mod_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/application.py
        
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFnTCCA4WgAwIBAgIUIVM45NgnKSLqPkute7bUPz5EhngwDQYJKoZIhvcNAQEL
      BQAwXjELMAkGA1UEBhMCVVMxCzAJBgNVBAgMAk1BMQ8wDQYDVQQHDAZCb3N0b24x
      DzANBgNVBAoMBmRydWdNTDEPMA0GA1UECwwGZHJ1Z01MMQ8wDQYDVQQDDAZkcnVn
      TUwwHhcNMjEwMTIxMTk1NDQ3WhcNMjIwMTIxMTk1NDQ3WjBeMQswCQYDVQQGEwJV
      UzELMAkGA1UECAwCTUExDzANBgNVBAcMBkJvc3RvbjEPMA0GA1UECgwGZHJ1Z01M
      MQ8wDQYDVQQLDAZkcnVnTUwxDzANBgNVBAMMBmRydWdNTDCCAiIwDQYJKoZIhvcN
      AQEBBQADggIPADCCAgoCggIBAPe77pSkFUkYruqQzIqrk88fMxwCCA+t+TsKTW4j
      t99yWS0SLGjs85vVEJMFtmfX1YZu9v++CE0wxQkc2qieAUikuY8oMf883IiqF/ow
      gwZq3QgRnxOMJbbYiCbgth/HaJGUs7WewW3oo84oTmnTY/e/mL38bjHfu+9iZQO+
      FhVBwiKDuQjpx3BV4JjbQhwM+vs3auNOEK7iY+Tx2gTSNGdhXIfdr8B3zscjnVB9
      sIVmv/ujdvClTGiewcK6vXAw4LRc55T2S9aYU+Liz+Xwlu6OUgr4oJpuEZEOHOp4
      DK7+YgUCBm1dVJllYM7x8OkV6GbN88COEeVkw4+uVJUeV67iaR9MMa2hBH7NV/2T
      f0Y6tFvbcNXeAXkX3REP8ZIzc79Oz4Ong9ASZQDNR0RHchAzbyvXMSxoBfL+531S
      5khwJdDyPNWmzNzDJM7d/011LMSQObyhj8uIdn68RsFPNOaMtwk+vZYTs76hnuVv
      HVz/v9qSRY1g+UzObt0koRibgv+9SY2RciO/eVZQt8shj1Gy/obZdONGW2WplGRV
      nw9csvl/QKc6gGx3dYD7PuMZ3SsubimLiAWQHlIDsEz5rjXKLYGwJ6IqBsZnyo2i
      3Zmb3srS7Y3UyW8Z7L+8WhchBhpFmWrooy9kNJQT7wNOHmdIWS3VB84PwFTNUnL1
      heQTAgMBAAGjUzBRMB0GA1UdDgQWBBQMcWupfMFEOovi1eLObtPQUvYRMDAfBgNV
      HSMEGDAWgBQMcWupfMFEOovi1eLObtPQUvYRMDAPBgNVHRMBAf8EBTADAQH/MA0G
      CSqGSIb3DQEBCwUAA4ICAQCAktvRfFdAZEqc/0DnKE3yEmYQDmSLJLrLo+n8sHhw
      +IAdCvZYZADN6L4yHx3zqP1+d47n+YbqQZrEhxgUbh8KnvI0aqYZJbYc943TnAfG
      vg1r1oWi+pBuP4fuYwLlxp8b2+5iOESo7pIedwelpAfXTB3LirGhyd3YmO/iPYod
      MZ6FQVtJgdwvQrpwO/wvNkBZY8BJ3kRmDrFwbC91l9KDaIzX+oMOeto9/w2Qe0MN
      pLiHqhE09LCAln8OMtuc8+4WRs/kG81uanRQsk0Reme7qwaLxwQwrbZStKkD6RKh
      OyWMozl66Qk0O2aZpFRQQSV8irmJmoG9i2sB5fcXGVWNL4htmE3ybBoqb2UgvPkS
      RcfniP+aJzWuKL1OcMP9wULje1WePT/jZMiHpSI1Cg7BXL19vtzDfg5kLI6FW2Uc
      RudT2RB3GL/fvH+dlxiFIEOTTF4kdgt84wka05q4x+h592jmQihZBYhiXm+C9dfI
      Yl8BqB6UQspHQIfR7H2HcqpfjoE6TM4+IOR0LiDWSuZqUKr7edKnc9Q/HxZ1ffZO
      JQg16rtyWEDspvsPJnsBkrxM+SJCeijXuRpWgG+/pp1UUdopdzuZfTCyFEH7CbzA
      Co6xXPHMEpcCpzafpWRNtrDTnxTRibjOzdx+IRgXv1cXE7xed/7CNNH6Q6O1N2KJ
      NQ==
      -----END CERTIFICATE-----
       
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIJnDBOBgkqhkiG9w0BBQ0wQTApBgkqhkiG9w0BBQwwHAQIPlaYVpcvq7kCAggA
      MAwGCCqGSIb3DQIJBQAwFAYIKoZIhvcNAwcECHrL0Zn/EnP0BIIJSELaXL3tEnqB
      MKDc5s/dKP7DrvZcMm1oWSf6kcz8vjAtO6G1KD+m8lbBmCKpPCHMqZdta6HN9+Hv
      +Uc4Sog3EGKR3n5ugK/KlixploqCL12fxQpqoqjHv4Q8xZ8ZCXN8Cz/9kONY64E5
      qY+zJ8ARk2Bq90ly32ztzLlL6Hv9nzgA7O2mkF439eet6y3+31eKZ/Xz3QaRwZ3Z
      U86r77q7HvjNa2nSW9vgAx3Le//eqYny26ZMAO2M+czuo/9irBwiXuAJlLK/Mitu
      Q00sFjwevBOjdthxseE1263oHlqgAeBlI1KW0JyGlSJNKf5TOGymByNtOCC7ZBTq
      07j/5JrMM6XuVvQZX8ucr1O59umUpgssBipXErPmIl4T99EnfhmP2TL2EBA11Zmf
      B7s904Wu41RMHtbQapNaLveEUnPJxXPDJgzHE9vmRYUiihtABfcHADppLTn0bZD7
      UeXGYU+yTqkvNFkmaOxZHbtnWG52ciY/ddDCzr9iymLzxzBxbftHmUumM/AL3MWN
      16B14aKfwMOsLgTvsoF5wC7pVh+XgZLlFIaNKkPVGH3A3QKZz03nKg9bgqCsCJLz
      WSgyOsAsSGPKSPr9gmWIiFDTZANuoe9OTOCLjELU6FiwKDVoccp7wZTKEmNoXrvP
      o2ie28ke1dFPJY+z/CJA8a+F/AhzhvDU3TOieRg2RYabyXtHGANYDuBrwKIU4L81
      y42dTTEYjYBt2BeDDjUQqeGcZvcVzqUr9J9sF6RWRphfOSAh7p9m5T8cv/P5j2rE
      chEjDnU83Cclz0qambmyBr8zs3oU7z+VSXt4hU0DBmWIF/zNxFK2khSUSz86v0Km
      L0khGmhaL3fhe74pYeze+xHWiOLln2ZGsS57xk2GvgVd0ISynAWRm3cYGuLg+dXP
      0ZjLEvqrVAR1gqDa3os7s6TcETbSao0Z26iFsbykMkru9Ad4Bm0BuGYIbKy7pmak
      aq7gDKtbtQC9rfQQXC5n4XBIpK2W/DXQlOwi3p17Zb11d46Fb7GIqTBN+nK/Nr9d
      ZNkn8KWSPHlxM+A63ph6bzAFCN7mivveWksYOAwshUq5R7glMcxx5qFxpkVPijZp
      jaBvj81Ic/G9bZ7sW0Kbs1M1aHe1wKPE2hTsPFyRHV+r0eUlke10tz/4YqNMEJv0
      qUo/RLnWwHSKqcFYo/Q9WDLFWkNOKjyiTPTavWRyAJmE1jljmrJ3G6IWD14GxdCI
      WNJGqom1EJtSVAoASJ0TyS5+KAnkUY8Cuegqcfy00Y3pwVM5cKxmpjUS3mxXBJwV
      97fhAf69hmUBRn1p49pCu5PEHALr+ghopQMOsFhe50jwyPyZ3AZFXnxGdMv5xq0U
      ngIsjcHDYNbYTeAKwFhlFMmGg0kaa4eNecYHaKwgrKjLSCwsC/urR9DoxD4NnUEx
      I2HwEHrw8mT0NDfXbAOBBGE2FBYm1P62bgmy442/uC0bywU38KzP2bvoVlPGvMXY
      mA0U0toI5fFy0BUl5czag517AuNsE+vwQI8h1FBLTGrw9/H6DrAXKnlLe5GP6DwI
      EPlyPuNi0e7f1GCMOCN3vqr1bIzEgq2EjjiZziF8Jsdy3CNlcPJR/luy2UqRMRUK
      FFM16oPmuqvJ3Hm4DLDh9cgsMvnc5XLj9Gi5ASpyh5v50Dubc1IyBeR734BZHwoi
      /tfmsRp/UVTzIOdVGRxKBGOmhEHL67e6ZET+KUzytXDfPNf0MNwqNBQN9utpH6id
      130cQC7baiNh5H72fvWmVPEP1PmCW3rUHr8JUoywN2yOhLB31ax9EblbOX67dfMb
      FYYNqAxmqDo87mVjqJc4mCA0Fn7uXsxuiweiMM5hhT5fXN1mOe1Sen7M6i0a2Ql3
      NwqEandzktW13VsEk/up06QGYDNYj5reDvzM8Fji4iSQVGpo9i2fUjxNS+3qUkJ8
      YJyHLCYBbbBO8ErJ1DnY6dyI9vvEp7YMiPsvynDAdaor5C4P9KcNWxYDp4hrplnx
      Gv2ln5iEb5e2e3MME3hGxLRvhUpOfzcLSvz2K64Jvu9p0DrNOsh/wm9J5SZn3m92
      PprVHof+xQ6HF9LCMZI73fb1nu6iQR8DUvMyP4btXoJox33ZPbUKtPreo6tij3d/
      mySPttLwawSKRjpnKHBw9aYNAfjM7uBwzzQt6WzSl7H7+SdZJP93QMkpHKL8gmWW
      vfvPqGcTaCOQhkMQaUvdBoO6rlrn5QHwQxgbX3KZq53h8/W+FPeqbLNfTJ/H8RNK
      yWfGcWOyxLkXa92xvkwwdGruaZ8YhEzLDnEjJHEOHksbxAUN/UUPwfVZwVZstyC5
      B8Rc0FPSDxYlPSoh/FecmzkLeuJPeXs/c0BJnjYPXNRVEYWKuE8M+CPacObGdYwG
      mQjj32RlBxLLN9u5/U1JZ8DQRSSXYqbFZl044cXy6sKkeXT/zBV0SQX6/dVe8dfD
      v7dP/jUPGwJG1Pz877fbo3JyGNncAteZ7AS5m5ikh6b2bJDh1BPN3NoRosU89Lqz
      N6UHTZPVL6iwxPYlKOgu7OJBhiFkmpc+MtzT0dOh8hIxycmCI/FRawj/ZNU9yzNb
      xTWtmE+BuziyDbzgYs43+ylznsXQ4KMPOWcp1HlARR+u6QK8FaYYecUPLGlWI9II
      YqHo2qMhEy/JJ2mInK4KbMAA4lIA148ckLUT0eBqnv61IHxgWMKpuir32V5lYHS3
      /WZSt1vRxbmSjCVZ80nUSm2cvLEgnaxZVJQT7VDy0naecIuI2+ZxSxIlHBHiGVE5
      Bhycz5vDvgGDPSdlBF4asY757uAt5AKA/8Djz+GkNsWFnRQEfewrMILmD+bQnP3z
      55aUhfpxGEBW/i+fZQT7M59g0W6YROegceitWnNPKH8aFs0VH2PMeWwYO933PwIq
      IAOi1xLIsFP6a676J8ZiWrljFATmlPhKYQbOkp7nDP40KluuuY5iwYMQnzhDwgti
      N5f1lTrxdDNVwkIM7YnnguixxS84eIrSMJJce5UoN/TuoRDNPcp2z6qyyhtwofoh
      X4ZByjEcyjPkpZRNal2rb6F+kKoKnQv10U2S6e5HaDfCTyawqAbIyjvP0wlWcvx7
      6pauYLMNR9vB3nx8pLJZYNC0dEyKiUuswIuqegtdSaFlAv7W5gQ7iQbOFg2vojR6
      kwkPDOzULsf9PBK9Acf1Dg==
      -----END RSA PRIVATE KEY-----
      
# container_commands:
#   01killhttpd:
#     command: "killall httpd"
#   02waitforhttpddeath:
#     command: "sleep 3"
